@model TirumalaHabitats.Models.ContactUsModel
@{
  ViewData["Title"] = "Home";
}

<section>
  <!-- CAROUSEL -->

  <div id="carousel">
    <div id="owl-demo" class="owl-carousel owl-theme">
      <div class="item">
        <img src="img/Trimula.jpg" alt="">
        <div class="line">
          <div class="text hide-s">
            <div class="line">
              <div class="prev-arrow hide-s hide-m">
                <i class="icon-chevron_left"></i>
              </div>
              <div class="next-arrow hide-s hide-m">
                <i class="icon-chevron_right"></i>
              </div>
            </div>
            <h2>10% special discount for limited time</h2>
            <p>Luxurious 2, 3 & BHK</p>
          </div>
        </div>
      </div>
      <div class="item">
        <img src="img/Hall.jpeg" alt="">
        <div class="line">
          <div class="text hide-s">
            <div class="line">
              <div class="prev-arrow hide-s hide-m">
                <i class="icon-chevron_left"></i>
              </div>
              <div class="next-arrow hide-s hide-m">
                <i class="icon-chevron_right"></i>
              </div>
            </div>
            <h2>Tirumala Habitats</h2>
            <p>Redefining Luxury</p>
          </div>
        </div>
      </div>
      <div class="item">
        <img src="img/swimming pool.jpeg" alt="">
        <div class="line">
          <div class="text hide-s">
            <div class="line">
              <div class="prev-arrow hide-s hide-m">
                <i class="icon-chevron_left"></i>
              </div>
              <div class="next-arrow hide-s hide-m">
                <i class="icon-chevron_right"></i>
              </div>
            </div>
            <h2>No vat & No Service Tax</h2>
            <p>Limited special offer on independence day.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- FIRST BLOCK -->
  <div id="first-block">
    <div class="line">
      <h1>Amazing special offer on this Independence Day</h1>
      <p>Contact our team for getting this special offer.</p>
      <div class="s-12 m-4 l-2 center">
        <a class="white-btn" href="#contact">Contact Us</a>
      </div>
    </div>
  </div>
  <!-- FEATURES -->
  <div id="features">
    <div class="line">
      <div class="margin">
        <div class="s-12 m-4 l-4 margin-bottom">
          <div>
            <img src="img/Feature 1.jpg">
            <h2>Apartment Details</h2>
            <p>Tower :: 41 Storeys</p>
            <p>Luxury Development :: 1.8 Acre</p>
            <p>Parkings :: 4 levels</p>
            <p>Podium Indulgence :: 40,000 SQ. FT.</p>
            <p>Advance Security System :: Yes</p>
          </div>
        </div>
        <div class="s-12 m-4 l-4 margin-bottom">
          <div>
            <img src="img/Feature 2.jpg">
            <h2>Branded Interiors</h2>
            <p>Luxury Apartments 2 / 3 / 4 BHK</p>
            <p>2 BHK RERA Carpet 830 SQ. FT</p>
            <p>3 BHK RERA Carpet 975 SQ. FT</p>
            <p>4 BHK RERA Carpet 1830 SQ. FT</p>
            <p>Brands Simpolo, EFP, GROHE</p>
          </div>
        </div>
        <div class="s-12 m-4 l-4 margin-bottom">
          <div>
            <img src="img/Feature 3.jpg">
            <h2>Lavish Club-Life</h2>
            <p>Swimming PoolAdult & Kids</p>
            <p>HiTech GymYes</p>
            <p>Squash CourtYes</p>
            <p>Yoga & Meditation RoomYes</p>
            <p>Luxury CafeteriaYes</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ABOUT US -->
  <div id="about-us">
    <div class="s-12 m-12 l-6 media-container">
      <img src="img/Feature 5.png" alt="">
    </div>
    <article class="s-12 m-12 l-6">
      <h2>Trimula Habitats</h2>
      <ul>
        <li>Vitrified flooring in Living, Dinning, Bedrooms and Kitchen</li>
        <li>Branded CP fittings and sanitary ware</li>
        <li>Polished granite kitchen platforms with stainless steel sink</li>
        <li>Acrylic/Plastic paint with gypsum finish walls</li>
        <li>Exhaust fan in toilet and kitchen</li>
        <li>Powder coated aluminium windows</li>
        <li>Solid Flush Door shutter front side veneer finish &amp; laminated finish on backside for main door</li>
        <li>Solid Flush Door shutter laminate finish for Bedrooms &amp; toilets.</li>
        <li>Bathroom dado tiles up to door height</li>
        <li>Kitchen dado tiles 2 feet above kitchen platform</li>
      </ul>
    </article>
  </div>
  <!-- CONTACT -->
  <div id="contact">
    <div class="line">
      <h2 class="section-title">Contact Us</h2>
      <div class="margin">
        <div class="s-12 m-12 l-3 hide-m hide-s margin-bottom right-align">
          <img src="img/contact.jpg" alt="">
        </div>
        <div class="s-12 m-12 l-4 margin-bottom right-align">
          <h3>Transcon - Trimula Habitats</h3>
          <address>
            <p>
              <strong>Adress:</strong> Shop No.4, Mahavir Shikar, Lbs Marg , Mulund-west, Mumbai 400078
            </p>
            <p>
              <strong>Country:</strong> Mulund - Mumbai
            </p>
            <p>
              <strong>E-mail:</strong> deepakhousing1@gmail.com
            </p>
          </address>
          <br />
          <h3>Social</h3>
          <p>
            <i class="icon-facebook icon"></i>
            <a href="#">Facebook</a>
          </p>
          <p class="margin-bottom">
            <i class="icon-twitter icon"></i>
            <a href="#">Twitter</a>
          </p>
        </div>
        <div class="s-12 m-12 l-5">
          <h3>Contact Us (Enquiry / Query)</h3>
          @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "customform" }))
          {
            @Html.AntiForgeryToken()
            @Html.DisplayFor(model => model.ResponseStatus)
            <div class="s-12">
              @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })
              @Html.EditorFor(model => model.EmailId, new { htmlAttributes = new { @class = "form-control", @placeholder = "Your e-mail", @title = "Your e-mail" } })
            </div>
            <div class="s-12">
              @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
              @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Your name", @title = "Your name" } })
            </div>
            <div class="s-12">
              <textarea placeholder="Your message" name="message" id="message" rows="5"></textarea>
            </div>
            <div class="s-12 m-12 l-4">
              <button class="color-btn" type="submit" id="send">Submit Button</button>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</section>